Ochsner_NodeRed.json
[
    {
        "id": "e5796f6f.bee638",
        "type": "tab",
        "label": "Ochsner",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9d1190eb.0a5f48",
        "type": "inject",
        "z": "e5796f6f.bee638",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "240",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 370,
        "y": 140,
        "wires": [
            [
                "8a7113d2.3da09"
            ]
        ]
    },
    {
        "id": "3e43e747.66dfa8",
        "type": "influxdb out",
        "z": "e5796f6f.bee638",
        "influxdb": "4b6e40ed.639d58",
        "name": "DB ochsner",
        "measurement": "ochsner",
        "precision": "",
        "retentionPolicy": "",
        "x": 370,
        "y": 560,
        "wires": []
    },
    {
        "id": "8a7113d2.3da09",
        "type": "function",
        "z": "e5796f6f.bee638",
        "name": "Parameter list",
        "func": "var msgList = [];\n\nvar commandList = {\n    \"heat pipe status\":\"/1/2/1/125/0\",\n    \"TWV\":\"/1/2/1/125/1\",\n    \"TWR\":\"/1/2/1/125/2\",\n    \"TQA\":\"/1/2/1/125/3\",\n    \"TQE\":\"/1/2/1/125/4\",\n    \"cycle of operation\":\"/1/2/1/125/5\",\n    \"operating hours\":\"/1/2/1/125/6\",\n    \"volume usage\":\"/1/2/1/125/7\",\n    \"volume source\":\"/1/2/1/125/8\",\n    \"heat energy kWh\":\"1/2/1/125/9\",\n    \"heat energy MWh\":\"1/2/1/125/10\",\n    \"warm water energy kWh\":\"1/2/1/125/11\",\n    \"warm water energy MWh\":\"1/2/1/125/12\",\n    \"ZH status\":\"/1/2/2/126/0\",\n    \"ZH TMV\":\"/1/2/2/126/1\",\n    \"ZH soll tmp\":\"/1/2/2/126/2\",\n    \"ZH schaltzyklen\":\"/1/2/2/126/3\",\n    \"ZH betriebsstunden\":\"/1/2/2/126/4\",\n    \"heat circuit status\":\"1/2/4/119/0\",\n    \"outdoor temperature\":\"1/2/4/119/1\",\n    \"mean outdoor temperature\":\"1/2/4/119/2\",\n    \"specified room temperature\":\"1/2/4/119/3\",\n    \"heat inlet temperature\":\"1/2/4/119/4\",\n    \"specified heat inlet temperature\":\"1/2/4/119/5\",\n    \"water status\":\"1/2/7/121/0\",\n    \"water temperature\":\"1/2/7/121/1\",\n    \"specified water temp\":\"1/2/7/121/2\",\n    \"dist middle temp\":\"1/2/8/122/1\",\n    \"dist inlet temp\":\"1/2/8/122/2\",\n    \"dist specified temp\":\"1/2/8/122/3\",\n    \"dist heat energy kWh\":\"1/2/8/122/4\",\n    \"dist heat energy MWh\":\"1/2/8/122/5\",\n    \"dist status\":\"1/2/8/122/6\"\n};\n\nvar count = Object.keys(commandList).length;\n\nfor (var i=0;i<count;i++) {\n    var firstKey = Object.keys(commandList)[i];\n    var firstValue = commandList[firstKey];\n    var outputMsg = {\n        \"commandName\": firstKey,\n        \"commandId\": firstValue\n    };\n    msgList.push({payload:outputMsg})\n}\nreturn [msgList];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 200,
        "wires": [
            [
                "1e274d7.43152b3"
            ]
        ]
    },
    {
        "id": "e89da63d.22dac8",
        "type": "function",
        "z": "e5796f6f.bee638",
        "name": "SOAP Params",
        "func": "msg.commandId = msg.payload.commandId;\nmsg.commandName = msg.payload.commandName;\n\nmsg.headers = {};\nmsg.headers={ \n    'Content-Type': 'text/xml'\n};\n\nmsg.payload ='<?xml version=\"1.0\" encoding=\"UTF-8\"?>'+'\\n'\nmsg.payload+='<SOAP-ENV:Envelope'+'\\n'\nmsg.payload+='xmlns:SOAP-ENV=\"http://schemas.xmlsoap.org/soap/envelope/\"'+'\\n'\nmsg.payload+='xmlns:SOAP-ENC=\"http://schemas.xmlsoap.org/soap/encoding/\"'+'\\n'\nmsg.payload+='xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"'+'\\n'\nmsg.payload+='xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"'+'\\n'\nmsg.payload+='xmlns:ns=\"http://ws01.lom.ch/soap/\">'+'\\n'\nmsg.payload+='<SOAP-ENV:Body>'+'\\n'\nmsg.payload+='<ns:getDpRequest>'+'\\n'\nmsg.payload+='<ref>'+'\\n'\nmsg.payload+='<oid>'+msg.commandId+'</oid>'+'\\n'\nmsg.payload+='<prop/>'+'\\n'\nmsg.payload+='</ref>'+'\\n'\nmsg.payload+='<startIndex>0</startIndex>'+'\\n'\nmsg.payload+='<count>20</count>'+'\\n'\nmsg.payload+='</ns:getDpRequest>'+'\\n'\nmsg.payload+='</SOAP-ENV:Body>'+'\\n';\nmsg.payload+='</SOAP-ENV:Envelope>'+'\\n';\n\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 320,
        "wires": [
            [
                "de670b65.90008"
            ]
        ]
    },
    {
        "id": "de670b65.90008",
        "type": "http request",
        "z": "e5796f6f.bee638",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.188.50/ws",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "digest",
        "senderr": false,
        "x": 370,
        "y": 380,
        "wires": [
            [
                "13ecf21a.968806"
            ]
        ]
    },
    {
        "id": "13ecf21a.968806",
        "type": "xml",
        "z": "e5796f6f.bee638",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 350,
        "y": 440,
        "wires": [
            [
                "8c875ebb.9f831"
            ]
        ]
    },
    {
        "id": "8c875ebb.9f831",
        "type": "function",
        "z": "e5796f6f.bee638",
        "name": "Extract value",
        "func": "var payload=msg.payload;\nvar commandName=msg.commandName;\n\nvar NewMsg={};\nNewMsg.payload = {\n    [commandName]: Number(payload[\"SOAP-ENV:Envelope\"][\"SOAP-ENV:Body\"][0][\"ns:getDpResponse\"][0].dpCfg[0].value[0])\n};\nreturn NewMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 500,
        "wires": [
            [
                "3e43e747.66dfa8"
            ]
        ]
    },
    {
        "id": "1e274d7.43152b3",
        "type": "delay",
        "z": "e5796f6f.bee638",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 400,
        "y": 260,
        "wires": [
            [
                "e89da63d.22dac8"
            ]
        ]
    },
    {
        "id": "4b6e40ed.639d58",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "loxdb",
        "name": "",
        "usetls": false,
        "tls": ""
    }
]